.body{
background-color: rgb(228, 228, 253);
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
display: flex;
justify-content: center;
text-align: center;
background-image: linear-gradient(to right, rgb(181, 180, 245), #33128b);
border-width: 5px;
box-shadow: 25px;
}

.header, h1{
display: flex;
padding-left: 200px;
color: aliceblue;
}

.container{
background-color: rgb(228, 228, 253);
flex-wrap: wrap; /*this has to be here*/
}

.topbox{
display: flex;
justify-content: space-between;
height: 269px;
padding-top: 15px;
max-width: 100%vw;
}

.sidebox{
color: #33128b;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
padding: 60px 60px 70px 40px;
border-bottom: 2px solid rgb(2, 48, 78);
}

.form-control{
color: #33128b;
height: 25px;
text-align: center;
}

/* .sidebtn{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
} */

.report{
background-color: #33128b;
color:aliceblue;
padding: 40px 500px;
margin: auto;
}

.btn-primary{
width: 100%;
padding: 5px;
box-shadow: 0 0 3px 1px; 
background-color: #32128b71;
color:aliceblue;
}

.btn-primary:hover{
cursor: pointer;
border-radius: 5px;
border-color:  #180155;
box-shadow: 0 0 10px 2px;
transform: translateY(0.1rem);
transition: transform 150ms;
}

.btn{
display: flex;
justify-content: flex-start;
width: 20%;
padding: 5px;
text-align: center;
margin-left: 15px;
margin: 10px;
box-shadow: 0 0 3px 1px;
}

.btn:hover{
cursor: pointer;
border-radius: 5px;
border-color: #180155;
box-shadow: 0 0 10px 2px;
transform: translateY(-0.1rem);
transition: transform 150ms;
}

.midrow{
display: flex;
justify-content: space-between;
}

#column{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

#saved{
    color:#33128b;
    display: flex;
    justify-content: flex-start;
    padding: 0 80px;
    margin-top: 0px;
}

.savedbtn{
    display: flex;
    justify-content: flex-start;
    background-color: #32128b71;
    width: 20%;
    padding: 5px 132px;
    margin: 5px 0px 10px 40px;
    box-shadow: 0 0 3px 1px;
    display: none;
    color:aliceblue;
}

.savedbtn:hover{
    cursor: pointer;
    border-radius: 5px;
    border-color: #180155;
    box-shadow: 0 0 10px 2px;
    transform: translateY(0.1rem);
    transition: transform 150ms;
}


#fdf{
display: flex;
justify-content: flex-end;
background-image: linear-gradient(to right, #33128b, rgb(181, 180, 245));
color: aliceblue;
padding: 40px 500px;
}

#fdfbox{
display: flex;
justify-content: flex-start;
}

.card{
display: flex;
justify-content: center;
width: 10%;
height: 300px;
background-color: #f0f8ff;
padding: 5px;
margin: 40px;
}

.card-body{
padding-top: 50px;
}

.card-container{
display: flex;
justify-content: space-around;
background-image: linear-gradient(to right, rgb(181, 180, 245), #33128b);
margin: 0px;
}

.list-group{
list-style-type: none;
padding-right: 35px;
}